* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #f4f4f4;
    color: #333;
}
section {
    margin-bottom: 40px;
}

/* Navbar */
nav .nav-link {
    color: #fff;
}

/* Hero */

.hero {
    height: 100vh; /* ocupa toda la altura de la pantalla */
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
form input,
form select,
form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    background-color: #ff5722;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    background-color: #e64a19;
}
