* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #f4f4f4;
    color: #333;
}
section {
    margin-bottom: 40px;
}
section h2 {
    margin-bottom: 20px;
    color: #ff5722;
}

/* Navbar */
nav .nav-link {
    color: #fff;
}

/* Hero */

.hero {
    position: relative;
    width: 100%;
    height: 100vh; /* ocupa toda la altura de la pantalla */
    overflow: hidden;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* ajusta la imagen sin deformarla */
    z-index: 1;
}

.hero-content {
    position: relative;
    color: white;
    text-align: center;
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}
form input,
form select,
form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    background-color: #ff5722;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form button:hover {
    background-color: #e64a19;
}
